// screen sizes
$mobile: 360px;
$tablet: 768px;
$desktop: 1024px;

// colors
$color-pink: #FF70D9;
$color-yellow: #EBFF00;
$color-yellow-dark: #92a51d;
$color-white: #fff;
$color-black: #000;
$color-grey: #a8a8a8;
$primary-color: $color-black;
$bg-gradient: linear-gradient(196.2deg, #0D1E48 0%, #304571 100%);


// effects
$primary-shadow: rgba(0, 0, 0, 0.15) 2px 5px 3.6px;
$text-shadow: rgba(0, 0, 0, 0.15) 2px 2px 3.6px;
