@import "variables";
@import "mixins";

.footer {
  background: $color-black;
  text-align: center;
  color: #ff0;
  min-height: 127px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  &__text {
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
    bottom: 20px;
    left: 0;
    right: 0;
    margin: 0 auto;
    position: relative;
    &::after {
      content: '';
      display: block;
      width: 92px;
      height: 80px;
      background: #ff0;
      position: absolute;
      top: -80px;
      left: 0;
      right: 0;
      margin: 0 auto;
      @include backgroundCover('../images/rocket.svg');;
    }
  }
}


// если нужно придерживатся стиля команды - не проблема, подхвачу, когда ознакомлюсь с проектом